.card {
  border: 1px solid #e2e8f0 !important;
}

.badge-leaderboard {
  background-color: #AB47BC !important;
}

.badge-progression {
  background-color: #1976D2 !important;
}

.badge-drone {
  background-color: #14b8a6 !important;
  color: #FFFFFF !important;
}

.badge-ultimate {
  background-color: #000000 !important;
  color: #D4AF37 !important;
}

.badge-robot {
  background-color: #16a34a !important;
  color: #FFFFFF !important;
}

.badge-titan {
  background-color: #f59e0b !important;
  color: #000000 !important;
}

.badge-weapon {
  background-color: #D32F2F !important;
  color: #FFFFFF !important;
}